html, body, #submissions {
    height: 100%;
}

body {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

@media (75rem <= width) {
    #submissions {
        columns: 3;
    }
}

@media (50rem <= width < 75rem) {
    #submissions {
        columns: 2;
    }
}

a {
    display: block;
}
